@charset "UTF-8";

/*list*/
#boardlist_title2{
	cursor:pointer;
	box-shadow:none;
	width: 200px;
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 10px;
	position:center;
}
.list-space{
	float: right;
	margin: 0 38px 0 0;
}
#keyff{
	border-radius:15px;
}
/**/

/*detail*/
#eyes{
	border-radius: none;
	box-shadow: none;
	width:18px;
}
#output_fav2{
	border-radius: none;
	box-shadow: none;
	width:25px;
	margin: 0 0 0 10px;
	cursor:pointer;
}
.detail-sub2{
	float:right;
}
/**/

/*updateForm*/
#write_form2{
	box-shadow: 1px 1px 1px 1px black;
	width:68%;
	margin-bottom: 50px;
	margin-top: 30px;
}
/**/

/*WriteForm*/
#co_title{
	width:300px;
	border-radius: 15px;
}
#co_write{
	width: 302px;
	height: 280px;
	border-radius: 15px;
}
.com_cc{
	text-align: center;
	margin: 50px auto;
}
/**/