@charset "UTF-8";

body { color: white;}

.content-box {
	margin: 0 auto;
	padding: 10px;
	width: 980px;
	height: 580px;
	border: 3px solid white;
	display: flex;
	align-items: center;
	justify-content: left;
}

/* 메뉴 */
.menu-box {
	width: 200px;
	height: 570px;
	border-right: 2px solid #8C8C8C;
	padding: 10px;
}

.menu-title {
	width: 200px;
	height: 40px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	background-color: #5D5D5D;
}

.menu {
	list-style-type: none;
	width: 180px;
	margin: 10px;
	padding: 0;
	height: 200px;
	position: fixed;
	overflow: auto;
}

.menu > li {
	width: 100%;
	float: left;
	font-size: 18px;
	text-align: left;
	line-height: 40px;
}

.menu > li a {
	display: block;
	color: #8C8C8C;
	text-decoration: none;
}

.menu > li a:hover {
	color: white;
}

li a.active {
	color: white;
	font-weight: bold;
}

/* 프로필 */
.profile-box {
	width: 780px;
	height: 570px;
	margin-left:10px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.profile-title {
	width: 400px;	
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	background: linear-gradient(to right, #5D5D5D, rgba(100,100,100,0) 70%); 
}

.profile-name {
	width: 400px;
	text-align: left;
}

#name {
	font-size: 24px;
	font-weight: bold;
}

.profile-detail {
	text-align: left;
}

/* 회원정보 수정 */

