@charset "UTF-8";

/*콘텐츠 박스*/
.content {
	width:100%;
	text-align:center;
}

/*회원가입 폼*/
#register_form{
	display: inline-box;
	width: 500px;
	height: 900px;
	border:none;
	outline: 3px solid white;	
	padding: 10px;
	text-align: center;
}

/*회원가입: 요소 그룹*/
.form_path {
	margin: 0 auto;
	width: 300px;
	height: 30px;
	padding: 5px;
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

/*회원가입: 요소별 글씨적용*/
.form_text {
	margin: 0 auto;
	width: 350px;
	padding: 5px;
	text-align: left;
	color: white;
	border: 1px solid white;
}

.text_f {	
	font-size: 20px;
	font-weight: bold;
}

.form-notice{
  font-size: 12px;
}

#id{
	width: 250px;
	height: 35px;
	font-size: 18px;
	border: 5px solid #d0d0d0;
	border-radius: 40px;
}

#id_check {
	height: 35px;
}


/* input[type="text"],input[type="password"],input[type="email"]{
   width:200px;
}

 #register_form input[id="id"]{
   width:113px;
}

input[id="zipcode"]{
   width:95px;
} */
