@charset "UTF-8";

.photo_size{
	width:160px;
	height:100px;
}
#showInsertForm{
	margin:0 auto;
	padding: 20px 20px 40px 20px;
	width:500px;
}
img{
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px black;
}
.borderNone{
	border:none;
}
h1, h2, h3, h4, h5, h6{
	color:white;
}
.content-main{
   padding:10px 20px;
   margin: 100px 0;
   color:white;
}
.showBody{
    width:960px;
   margin:0 auto;
   box-shadow:0 0 5px 5px #5690a5;
   /*
   background-image:url(../images/bck10.png);
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   width:100%;
    */
    background:#1D6B87;
}