@charset "UTF-8";

/*공통*/
body{
   width:100%;
   margin:0 auto;

    background:rgba(49,48,47);
}
.page-main{
   background:rgba(49,48,47);
   margin:40px 0;
   border-radius:5px;
   box-shadow:0 2px 6px rgba(100,100,100,0.3);
   min-height:750px;
}
.page-main-first{
   background:rgba(49,48,47);
   margin:40px 0;
   border-radius:5px;
   box-shadow:0 2px 6px rgba(100,100,100,0.3);
   height:2900px;
}
/* header */
#main_logo{
   padding-top:10px;
   color:white;
   background:rgba(49,48,47);
}
#main_logo a:visited{
    text-decoration:none;
	color:white;
}
#main_nav{
   padding:0px 10px 20px 10px;
   height:20px;
   float: right;
   color:white;
   background:rgba(49,48,47);
}

#main_nav a:unvisited{
    text-decoration:none;
	color: #e0e0e0;
}

#main_nav a:visited{
    text-decoration:none;
	color:white;
}
#main_nav ul{
   list-style:none;
   margin:0;
   padding:0;
}
#main_nav ul li{
   display:inline-block;
   width:100px;
   text-align:center;
   vertical-align:middle;
   padding-top:5px;
}
#main_nav ul li.menu-profile{
   padding-top:5px;
   width:25px;
}
#main_nav ul li.menu-logout{
   width:150px;
   text-align:left;
}
/* header second_nav */
.second_nav{
   width: 100%;
   background:rgba(248,238,225);
}
.dropdown{
   width: 33%;
   float: left;
   position: relative;
}
.dropdown-menu{
   padding: 16px;
   font-size: 16px;
   cursor: pointer;
   text-align:center;
   color:white;
}
.dropdown-menu a:visited{
    text-decoration:none;
	color:white;
}
.dropdown-content{
   position: absolute;
   width: 100%;
   display: none;
   text-align:center;
}
.dropdown-content a {
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}
.dropdown-menu:hover{
   color: darkorange;
}
.dropdown-menu a:hover{
   color: darkorange;
}
.dropdown:hover .dropdown-content{
   display: block;
}
.dropdown-content a:hover {
   color: darkorange;
}
/*헤더 글자 쇼*/
.dropdown-menu a:hover{
	color: darkorange;
}

@media screen and (max-width: 480px) {
    .dropdown:nth-child(n + 3) {
        display: none;
    }
    .dropdown:nth-child(2) .menu__link {
        border-right: 0;
    }
}
@media screen and (max-width: 768px) {
    .dropdown:nth-child(n + 4) {
        display: none;
    }
    .dropdown:nth-child(3) .menu__link {
        border-right: 0;
    }
}
@media screen and (max-width: 992px) {
    .dropdown:nth-child(n + 5) {
        display: none;
    }
    .dropdown:nth-child(4) .menu__link {
        border-right: 0;
    }
}

.dropdown:last-child .menu__link {
    border-right: 0;
}
.menu__link:hover .menu__first-word_com, .menu__link:focus .menu__first-word_com {
    transform: translate3d(0, -105%, 0);
}
.menu__link:hover .menu__second-word_com, .menu__link:focus .menu__second-word_com {
    transform: translate3d(0, 105%, 0);
}

@media screen and (min-width: 768px) {
    .menu__link {
        padding: 6px 40px 3px;
    }
}
.menu__title_com {
    display: inline-block;
    overflow: hidden;
}
.menu__first-word_com, .menu__second-word_com {
    display: inline-block;
    position: relative;
    transition: transform .3s;
}
.menu__first-word_com::before, .menu__second-word_com::before {
    position: absolute;
}
/* end of header */

/*대문*/
.main-slider{
   height: 100vh;
   width: 100%;
   background-image: url(../images/main02.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.main-slider .ticket_logo{
   cursor: pointer;
   height:90px;
   width: 90px;
   background-image: url(../images/tts.png);
   background-size: contain;
   position: fixed;
   bottom: 80px;
   right: 60px;
}
.main-slider .arrow_logo{
   cursor: pointer;
   height:35px;
   width: 35px;
   background-image: url(../images/arrow.png);
   background-size: contain;
   position: fixed;
   left:50%;
   bottom: 10px;
   z-index:1;
}
.page-main-first .arrow_logo2{
   cursor: pointer;
   height: 35px;
   width: 35px;
   background-image: url(../images/up-arrow.png);
   background-size: contain;
   position: fixed;
   right:40px;
   bottom: 100px;
   display:none;
   z-index:1;
}
/*footer*/
.footer{
   text-align: center;
}
#star_icon{
   max-width: 100%;
   max-height: 100%;
   float:left;
}
.footer p{
   color: white;
}
.footer_icon01{
   margin: 0 auto;
   width: 50px;
   height: 50px;
   display: inline-block;
}
.footer_text{
   color: white;
}
.footer_icon02{
   max-width: 100%;
   max-height: 100%;
}
#facebk{
   width: 50px;
   height: 50px;
}
#instagram{
   margin: 0 35px 0 35px;
   width: 50px;
   height: 50px;
}
#twitter{
   width: 50px;
   height: 50px;
}
/*상세글*/
#reply_div{
   margin:0 0 25px 0;
}
.content-main{
   padding:10px 20px;
   margin: 100px 0;
   color:white;
}
#title_s{
   text-align: center;
   background-color: #696969;
}
#write_s{
   margin: 80px 0;
   text-align: center;
}
.detail-info{
   margin: 20px 0;
   text-align: right;
   font-size: 11.5px;
}
#nickname{
   margin: 85px 0 35px 0;
}
#bom_regdate{
   font-size: 11px;
}
#reply_div{
   text-align: center;
}
.result-display{
   width:400px;
   height:200px;
   margin:50px auto;
   border:1px solid #000;
   display:flex;/*하위요소를 수직으로 쌓을 수 있는 공간을 만듬*/
   align-items:center;/*세로 정렬*/
   justify-content:center;/*가로 정렬*/
}
.align-center{
   text-align:center;
}
.align-right{
   text-align:right;
}
a:link{
   text-decoration:none;
   color:white;
}
a:visited{
   text-decoration:none;
   color:white;
}
a:hover{
   text-decoration:none;
}
/*목록*/
form#search_form{
   border:none;
}
ul.search{
   width:350px;
   list-style:none;
   padding:0;
   margin:0 auto;
}
ul.search li{
   margin:0 0 9px 0;
   padding:0;
   display:inline;
}
.list-space{
   margin-bottom:10px;
}
table{
   width:100%;
   border:1px solid #fff;
   border-collapse:collapse;
   margin-top:35px;
   
}
#main-table{
   width: 100%;
   height: 100%;
   float: left;
   border:1px solid #fff;
   border-collapse:collapse;
   margin:0 40px 0 0;
}
video{
   width: 80%;
   text-align:center;
}
#main-tableth{
   padding:10px;
   border-collapse:collapse;
   margin-top:35px;
}
#main-table{
   border:3px solid black;
   border-collapse:collapse;
}
#main-tableth{
   border:1px solid black;
   padding:10px;
   width:150px;
   color:white;
   font-size:18px;
   text-align:center;
}
#main-tabletd{
	border:1px solid black;
	color:white;
}
#main-tabletd:visited{
   text-decoration:none;
   color:white;
}

table td, table th{
   padding:10px;
   color: white;
   border:1px solid #fff;
}

/*등록, 수정폼*/
form{
   margin:0 auto;
   border:1px solid #000;
   border-radius:10px;
   padding:10px 10px 10px 10px;
   
}
ul{
   list-style:none;
}
label{
   width:130px;
   float:left;/*태그를 왼쪽으로 정렬*/
}

/*My Page*/
.mypage-div{
   width:48%;
   float:left;
   padding:5px;
}
.mypage-end{
   clear:both;
}
.my-photo{
   object-fit:cover;
   /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심
   이미지 위치를 지정*/
   object-position:top;
   border-radius:50%;
}    
/*show 시작*/

#keyword:focus{   
   border-color:rgba(82,168,236,0.8);
   /* outline : border 바깥 외곽선 */
   outline:0;
   box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}

#keyword_btn{
   width:50px;
   height: 26px;
   border-radius:0 15px 15px 0;
   border:1px solid #CCCCCC;
   margin-left:-1px;
}
#keyword{
   display:block;
   float:left;
   background-color:gray;
   border:1px solid #CCCCCC;
   /*            상좌 상우 하우 하좌 */
   border-radius:15px 0 0 15px;
   box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);   /* 파인듯이 들어감 */
   width:120px;
   height:26px;
   padding:0 0 0 10px;
   font-size:12px; 
   color:#666666; 

}

/*문의게시판 search*/
#keyword_board{
   background-color:white;
   border:1px solid #CCCCCC;
   /*            상좌 상우 하우 하좌 */
   box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);   /* 파인듯이 들어감 */
   width:185px;
   height:20px;
   padding:0 0 0 10px;
   font-size:5px; 
   color:#666666;
}


/**/

/**/
.page-left{
   float:left;
   text-align:center;
   width:50%;
}
.page-right{
   float:right;
   text-align:center;
   width:50%;
}
/*show 끝*/
/*middle-line*/
.middle-line{
	margin:0px;
	padding: 0px;
	width: 100%;
	height: 25px;
	background: rgba(49,48,47);
	color:white;
	text-align:center;
	font-size: 12px;
	justify-content: center;
    align-items: center;
    line-height: 25px;
}
.middle-line2{
	margin:0px;
	padding: 0px;
	width: 100%;
	height: 25px;
	background: rgba(242,124,105);
	color:white;
	text-align:center;
	font-size: 12px;
	justify-content: center;
    align-items: center;
    line-height: 25px;
}
/*content-main-first*/
.content-main-first{
	margin:0px;
	padding-top: 300px;
	padding-left: 2%;
	width: 100%;
	height: 700px;
	background:rgba(137,141,85);
}
.content-main-first_1{
	position: relative;
	width: 25%;
	height: 70%;
	float:left;
}
.content-main-first_1_1{
	position: absolute;
	width: 88%;
	height: 85%;
	top:20%;
	left:9%;
}
.content-main-font_1{
	position: relative;
	width: 100%;
	height: 300px;
	top:-80px;
}
/*content-main-second*/
.content-main-second{
	margin:0px;
	padding-top: 10px;
	width: 100%;
	height: 600px;
	background:rgba(248,238,225);
}
.content-main-second-table{
	margin-left : 5%;
	width: 45%;
	float: left;
}
.content-main-second-video{
	width: 45%;
	float: right;
}
/*slider_main*/
.slider_main {
	margin-top: 65px;
	padding-top: 30px;
	width: 100%; 
	height: 690px;
	background-color: rgba(251,176,76);
}
.slider_main_img1_box{
	width: 500px;
	height: 340px;
	position: relative;
	top:60px;
	left: 420px;
}
.slider_main_font1{
	width: 150px;
	height: 150px;
	position: relative;
	top:-350px;
	left: 830px;
}
.slider_main_font1 > span{
	font-size: 50px;
	color: rgba(49,48,47);
	font-weight: bold;
}
.slider_main_font2{
	width: 800px;
	height: 580px;
	position: relative;
	top:-550px;
	left: 800px;
}
.slider_main_img2_box{
	width: 300px;
	height: 430px;
	position: relative;
	top:-820px;
	left: 1040px;
}
.slider_main_font3{
	position: relative;
	top:-1100px;
	left: 420px;
}
.slider_main_font3 > span{
	font-size: 93px;
	color: rgba(49,48,47);
	font-weight: bold;
}
.slider_main_font4{
	width: 400px;
	height: 500px;
	position: relative;
	top:-1195px;
	left: 430px;
}
.slider_main_font5{
	position: relative;
	top:-1860px;
	left: 1350px;
	writing-mode: tb-rl;
}
.slider_main_font5 > span{
	font-size: 17px;
	color: rgba(49,48,47);
}
.slider_main_font5 > span:hover{
	color:rgba(245,129,110);
}
.content-main-font3{
	width: 40%;
	height: 500px;
	position: relative;
	top:-200px;
	left: 550px;
}
.content-main-font4{
	width: 700px;
	height: 430px;
	position: relative;
	top:-825px;
	left: 550px;
}